<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="author" content="José Manuel Bonilla García">
        <meta name="description" content="">
        <meta name="keywords" content="">
        
        <!-- Bootstrap Links -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
        
        <title>Mas Prestados</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Mas Prestados</h1>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Portada</th>
                                <th>Libro</th>
                                <th>Prestamos</th>
                                <th>Usuarios</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for lista in lista_mas_prestados %}
                            <tr>
                                <!--Mostrar el primer dato de la fila es el libro y otro td que sea el numero de prestamos que tiene-->
                                <td><img src="{{ lista.0.portada.url }}" alt="{{ lista.0.titulo }}" width="100px"></td>
                                <td><a href="{% url 'libro_detail' lista.0.id %}">{{ lista.0.titulo }}</a></td>
                                <td>{{ lista.1 }}</td>
                                <td>{{ lista.2.0 }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <a href="{% url 'libro_list' %}" class="btn btn-primary">Volver</a>
                </div>
            </div>
        </div>
        
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>
</html>